/* $Id: danblog.css,v 1.11 2010/07/21 02:08:10 danprobo Exp $ */

/* Put your custom css and css overrides in this file */ 

body {
font-size: 84%;
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #000;
margin: 0;
padding: 0;
line-height: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
font-family: Arial, Helvetica, sans-serif;
}

#nav li a{
font-family: Arial, Helvetica, sans-serif;
}

#superfish .menu a,
#superfish .menu a:visited  {
font-family: Arial, Helvetica, sans-serif;
}

a:link {
color: #005a8c;/*#e87e17*/
text-decoration: none;
font-weight: bold;
}

a:visited {
color: #005a8c;/*#e87e17*/
text-decoration: none;
font-weight: bold;
}

a:hover {
text-decoration: underline;
}

.logo-name a:hover {
text-decoration: none;
}

.comment .new {
text-align: right; /* LTR */
font-weight: bold;
float: right; /* LTR */
color: red;
margin:.5em;
}

.comment .title {
line-height: 1.2em;
}

.comment .title a:hover {
text-decoration: none;
}

#subnav li a {
font-weight:bold;
}

#subnav li a:hover {
text-decoration: underline;
color: #005a8c;/*#e87e17*/
}

.node .title {
padding-bottom: 5px;
}

.title {
line-height:1.2em;
}

.node .title a:hover {
text-decoration: none;
}

#aggregator h3 a:hover {
text-decoration: none;
color: #005a8c;/*#e87e17*/
} 

#mission-db {
padding: 20px;
font-size:1.6em;
color:#002054;
line-height: 1.2em;
}

.item-list .pager li a:hover {
text-decoration:none;
}
